*{
    margin:0;
}

::-webkit-scrollbar{
    width:0.5em !important;
    height:0.3em !important;
}

::-webkit-scrollbar-track{
    background: hsla(0,0%,100%,0.1);
}

::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1)
}